<div class="content">
    <h2>Calculator</h2>
    <p class="text-danger">{{error}}</p>
    <form (ngSubmit)="calculate()" #calcForm="ngForm">
        <div class="form-group">
            <label for="firstOperand">Operand 1:</label>
            <input type="text" class="form-control" id="firstOperand" required [(ngModel)]="calculator.FirstOperand" name="firstOperand">
        </div>
        <div class="form-group">
            <label for="secondOperand">Operand 2:</label>
            <input type="text" class="form-control" id="secondOperand" required [(ngModel)]="calculator.SecondOperand" name="secondOperand">
        </div>
        <div class="form-group">
            <div *ngFor="let operator of operators">
                <input type="radio" name="operator" [(ngModel)]="calculator.Operator" [value]="operator"><label>{{operator}}</label>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
